:root{
    --sa-color-album-preview-border: var(--sa-color-base-border)
}

.sr-album-is{
    position: relative;
    text-align: center;
    width: auto;
    height: auto;
    flex-direction: column;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /* max-width: max-content; */
}
.sr-album--align--center{
    width: 100%;
    margin: 0 auto;
    float:none;
    clear: both;
}
.sr-album--align--left{
    margin:0;
    float: left;
}
.sr-album--align--right{
    margin:0;
    float: right;
}
.sr-album--align--none{
    margin:0;
    float: none;
}
.sr-album--preview--div{
    cursor: pointer;
    border: solid 1px var(--sa-color-album-preview-border);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    max-width: max-content;
    max-height: max-content;
    overflow: hidden;
    /* object-fit: contain */
}
.sr-album--preview--img{
    width: 100%;
    height: auto;
}
.sr-album--info{
    align-items: center;
    margin-bottom: 10px;
}
.sr-album--controls {
    margin-top: 6px;
}
