.all-image-container {
  /* 声明一个容器 */
    display: grid;
  /*  声明列的宽度  */
    grid-template-columns: repeat(2, 200px);
  /*  声明行间距和列间距  */
    grid-gap: 20px;
  /*  声明行的高度  */
    grid-template-rows: repeat(3, 200px);
}

.all-image-fit{
  max-width: 100%;
  display: inline-block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sa-all-image--left {
    margin: 0;
    float: left;
}

.sa-all-image--center{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sa-all-image--right{
    float: right;
}

.all-image-container {
  overflow: hidden;
}
