:root {
    --sa-color-icon: var(--sa-color-basic-white)
}

html{
    scroll-behavior: smooth;
}
p{
    word-break: break-all;
}
pre{
    font-family: inherit;
    margin: 0;
    line-height: 1.5;
    text-align: center;
    font-size: 30px;
}

/* icon */
.sa-icon {
    width: 30px;
    height: 30px;
    color: white;
}

/* 不知道如何关闭 */
.katex-html{
    display: none;
}

/* 通用 */
.sa-center {
    margin: 0 auto;
}
.sa-float--left {
    float: left;
}
.sa-float--right {
    float: right;
}