html{
    scroll-behavior: smooth;
}
p{
    word-break: break-all;
}
pre{
    font-family: inherit;
    margin: 0;
    line-height: 1.5;
}

/* 不知道如何关闭 */
.katex-html{
    display: none;
}

/* 通用 */
.float--left {
    float: left;
}
.float--right {
    float: right;
}