.sr-list-container{
    border: solid 1px red;
    width: 50%;
}
.sr-list-ol-number:before{
    content: "ao";
}
.sr-list-ul-solid:before{
    list-style-type: square;
}
.sa-list-li {
    /* user-select: none; */
    list-style: none;
    /* margin: 0; */
    /* padding: 0; */
    border: 0;

}
.sa-list-li-index {
    position: absolute;
    top: 50%;
    transform: translate(-100%, -50%);
    margin-left: -0.5rem;
    word-break: keep-all;
}